In [5]:
# List -> Series
import pandas as pd

list_Data = ['딸기', '사과', '포도', '바나나', '멜론', '수박']  
series_Data = pd.Series(list_Data)  
print(type(series_Data))  
series_Data

<class 'pandas.core.series.Series'>

0     딸기
1     사과
2     포도
3    바나나
4     멜론
5     수박
dtype: object

In [6]:
# Series 사용 

series_Data = pd.Series({'사과':1000, '배':2000, '바나나':3000})  
print(type(series_Data))  
series_Data

<class 'pandas.core.series.Series'>

사과     1000
배      2000
바나나    3000
dtype: int64

In [7]:
# Index 사용 
tuple_Data = ('사과', 1000, '2020-11-25')  
series_Data = pd.Series(tuple_Data, index=['이름', '가격', '생산일'])  
print(series_Data,"\n")  
print(series_Data[0], series_Data['이름'],"\n")  # 인덱스 명 또는 위치로 조회  
print(series_Data[[1,2]],"\n")  # 인덱스 위치를 리스트 형태로 지정 후 조회   
print(series_Data[['가격','생산일']],"\n") # 인덱스 명을 리스트 형태로 지정 후 조회  
print(series_Data[1:2],"\n")  # 인덱스 위치를 범위 형태로 지정 후 조회   
print(series_Data['가격':'생산일']) # 인덱스 명으로 범위 조회 시 지정한 인덱스 명까지 조회

이름             사과
가격           1000
생산일    2020-11-25
dtype: object

사과 사과

가격           1000
생산일    2020-11-25
dtype: object

가격           1000
생산일    2020-11-25
dtype: object

가격    1000
dtype: object

가격           1000
생산일    2020-11-25
dtype: object

In [9]:
# DataFrame 사용 

dataFrame_Data = pd.DataFrame({'사과':[1000,'2020-11-25'], '배':[2000,'2020-11-24'], '바나나':[3000,'2020-11-20']})
print(type(dataFrame_Data))  
dataFrame_Data

<class 'pandas.core.frame.DataFrame'>

           사과           배         바나나
0        1000        2000        3000
1  2020-11-25  2020-11-24  2020-11-20

In [11]:
# 행 인덱스/열 이름 설정  
dataFrame_Data = pd.DataFrame([[1000,'2020-11-25', 5],   
                               [2000,'2020-11-24', 3],   
                               [3000,'2020-11-20', 7]],  
                              index=['사과', '배', '바나나'],  
                              columns=['가격', '생산일', '남은 개수'])  
dataFrame_Data

       가격         생산일  남은 개수
사과   1000  2020-11-25      5
배    2000  2020-11-24      3
바나나  3000  2020-11-20      7

In [21]:
# 행 인덱스/열 이름 설정  
dataFrame_Data.index=['딸기', '귤', '오렌지']  
dataFrame_Data.columns=['금액', '유통기한', '판매 개수']  
dataFrame_Data

       금액        유통기한  판매 개수
딸기   1000  2020-11-25      5
귤    2000  2020-11-24      3
오렌지  3000  2020-11-20      7

In [22]:
# 행 인덱스/열 이름 출력
print("Index:", dataFrame_Data.index)  
print("columns:", dataFrame_Data.columns)

Index: Index(['딸기', '귤', '오렌지'], dtype='object')
columns: Index(['금액', '유통기한', '판매 개수'], dtype='object')

In [23]:
# 행 인덱스/열 이름 변경  
dataFrame_Data.rename(index={'딸기':'포도'}, columns={'판매 개수':'재고'} , inplace=True)  
dataFrame_Data

       금액        유통기한  재고
포도   1000  2020-11-25   5
귤    2000  2020-11-24   3
오렌지  3000  2020-11-20   7

In [39]:
# 행 인덱스 추가
dataFrame_Data.loc['사과'] = [1000,'2020-11-25', 5]

#열 이름 추가
dataFrame_Data['반품 개수'] = 3

dataFrame_Data

       금액        유통기한  재고  반품 개수
포도   1000  2020-11-25   5      3
귤    2000  2020-11-24   3      3
오렌지  3000  2020-11-20   7      3
사과   1000  2020-11-25   5      3

In [40]:
# 행 인덱스/열 이름 삭제  
dataFrame_Data.drop('사과', axis=0, inplace=True)  
dataFrame_Data.drop('반품 개수', axis=1, inplace=True) 
dataFrame_Data

       금액        유통기한  재고
포도   1000  2020-11-25   5
귤    2000  2020-11-24   3
오렌지  3000  2020-11-20   7

In [46]:
# 행 선택, 단일
label_Data = dataFrame_Data.loc['귤'] #or pos_Data = dataFrame_Data.iloc[0]  
print(type(label_Data))
label_Data

<class 'pandas.core.series.Series'>

금액            2000
유통기한    2020-11-24
재고               3
Name: 귤, dtype: object

In [47]:
#행 선택, 멀티
label_Data = dataFrame_Data.loc[['포도','오렌지']] #or pos_Data = dataFrame_Data.iloc[[0,2]]   
print(type(label_Data))
label_Data

<class 'pandas.core.frame.DataFrame'>

       금액        유통기한  재고
포도   1000  2020-11-25   5
오렌지  3000  2020-11-20   7

In [56]:
# 행 선택, 범위

dataFrame_Data.loc['사과'] = [1000,'2020-11-25', 5]
dataFrame_Data.loc['배'] = [5000,'2020-12-15', 3]
dataFrame_Data.loc['딸기'] = [7000,'2021-02-17', 2]

label_Data = dataFrame_Data.loc['포도':'배']  
label_Data

       금액        유통기한  재고
포도   1000  2020-11-25   5
귤    2000  2020-11-24   3
오렌지  3000  2020-11-20   7
사과   1000  2020-11-25   5
배    5000  2020-12-15   3

In [51]:
pos_Data = dataFrame_Data.iloc[0:2]  
pos_Data

      금액        유통기한  재고
포도  1000  2020-11-25   5
귤   2000  2020-11-24   3

In [54]:
#열 선택, 단일
single_colmn_Data = dataFrame_Data['금액']  
print(type(single_colmn_Data))
single_colmn_Data

<class 'pandas.core.series.Series'>

포도     1000
귤      2000
오렌지    3000
사과     1000
배      5000
딸기     7000
Name: 금액, dtype: int64

In [55]:
#열 선택, 멀티
multi_colmn_Data = dataFrame_Data[['금액','재고']]  
print(type(multi_colmn_Data))
multi_colmn_Data

<class 'pandas.core.frame.DataFrame'>

       금액  재고
포도   1000   5
귤    2000   3
오렌지  3000   7
사과   1000   5
배    5000   3
딸기   7000   2

In [63]:
dataFrame_Data

       금액        유통기한  재고
포도   1000  2020-11-25   5
귤    2000  2020-11-24   3
오렌지  3000  2020-11-20   7
사과   1000  2020-11-25   5
배    5000  2020-12-15   3
딸기   7000  2021-02-17   2

In [61]:
# 인덱스 이름을 사용하여 요소 선택  
name_Data = dataFrame_Data.loc['사과','금액']
name_Data

1000

In [66]:
# 정수 위치 인덱스를 사용하여 요소 선택  
name_Data = dataFrame_Data.iloc[0,1]  
name_Data

'2020-11-25'

In [68]:
# 인덱스 이름을 사용하여 특정 원소 행/열 2개 이상 선택  
name_Data = dataFrame_Data.loc[['사과','딸기'],['금액','재고']] 
name_Data

      금액  재고
사과  1000   5
딸기  7000   2

In [69]:
# 정수 위치 인덱스를 사용하여 특정 원소 2개 이상 선택  
name_Data = dataFrame_Data.iloc[0,[0,2]]  
name_Data

금액    1000
재고       5
Name: 포도, dtype: object

In [71]:
#요소 값 변경
dataFrame_Data.loc['사과','금액'] = 5500 # 1000 -> 5500 변경  
dataFrame_Data.iloc[1,0] = 8000 # 2000 -> 8500 변경  
dataFrame_Data

       금액        유통기한  재고
포도   1000  2020-11-25   5
귤    8000  2020-11-24   3
오렌지  3000  2020-11-20   7
사과   5500  2020-11-25   5
배    5000  2020-12-15   3
딸기   7000  2021-02-17   2

In [72]:
# 행/열 위치 바꾸기  
dataFrame_Data = dataFrame_Data.transpose()  
dataFrame_Data

              포도           귤         오렌지          사과           배          딸기
금액          1000        8000        3000        5500        5000        7000
유통기한  2020-11-25  2020-11-24  2020-11-20  2020-11-25  2020-12-15  2021-02-17
재고             5           3           7           5           3           2

In [73]:
dataFrame_Data = dataFrame_Data.T  
dataFrame_Data

       금액        유통기한 재고
포도   1000  2020-11-25  5
귤    8000  2020-11-24  3
오렌지  3000  2020-11-20  7
사과   5500  2020-11-25  5
배    5000  2020-12-15  3
딸기   7000  2021-02-17  2